Package: com.shepgoba.batteryhomebar
Name: BatteryHomeBar
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
